body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container_seccion1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 10px;
  height: 85%;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  row-gap: 20px;
  column-gap: 10px;
  background-color: #ffffff;
  text-align: center;
  height: 80%;
  width: 80%;
}

h1 {
  color: #8c0000;
  margin-bottom: 20px;
  font-size: 2rem;
}

button {
  background-color: #8c0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #530000;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#loading-message {
  margin-top: 20px;
  color: #8c0000;
  font-style: italic;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 0.6rem;
  color: #8c0000;
}

.container_btn2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: 1px solid #8c0000;
  border-radius: 10px;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

/* From Uiverse.io by Yaya12085 */ 
.container_btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.container_box {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container_box:hover {
  background-color: rgba(0, 110, 255, 0.1);
}

.header {
  flex: 1;
  width: 100%;
  border: 2px dashed #8c0000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 80px;
}

.header p {
  width: 80%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}